SUPABASE_URL=https://ucagsjvcqwxumewjfexc.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVjYWdzanZjcXd4dW1ld2pmZXhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5MjIyNjgsImV4cCI6MjA4ODQ5ODI2OH0.J_uog2T498i8glUm5IVfeaJ2CSfRIUhZV2q_9K3Tyd4
